
@charset "UTF-8";
@font-face {
    font-family: "hill thin";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts//hill_thin.eot") format("eot"), url("../fonts//hill_thin.woff") format("woff"), url("../fonts//hill_thin.ttf") format("truetype"), url("../fonts//hill_thin.svg#hill_thin") format("svg");
}
@font-face {
    font-family: "hill light";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts//hill_light.eot") format("eot"), url("../fonts//hill_light.woff") format("woff"), url("../fonts//hill_light.ttf") format("truetype"), url("../fonts//hill_light.svg#hill_light") format("svg");
}
@font-face {
    font-family: "hill regular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts//hill_regular.eot") format("eot"), url("../fonts//hill_regular.woff") format("woff"), url("../fonts//hill_regular.ttf") format("truetype"), url("../fonts//hill_regular.svg#hill_regular") format("svg");
}
@font-face {
    font-family: "hill demibold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts//hill_demibold.eot") format("eot"), url("../fonts//hill_demibold.woff") format("woff"), url("../fonts//hill_demibold.ttf") format("truetype"), url("../fonts//hill_demibold.svg#hill_demibold") format("svg");
}
*, *::before, *::after {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, input, select, textarea, main {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
ul, ol {
    list-style-image: none;
    list-style-type: none;
}
html {
    font-family: sans-serif;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
    width: 100%;
}
[hidden], template {
    display: none;
}
a {
    background: none repeat scroll 0 0 transparent;
}
:active, *:hover, *:focus {
    outline: 0 none;
}
abbr[title] {
    border-bottom: medium none;
}
dfn {
    font-style: normal;
}
mark {
    background: none repeat scroll 0 0 #ff0;
    color: #000;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
hr {
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    box-sizing: content-box;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: normal;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
.print-page-break {
    display: none;
}
html {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
    color: #39393a;
    font-size: 13px;
    line-height: 1.4;
}
i, em, .italic {
    font-style: normal;
}
strike, del, s, .strikethrough {
    text-decoration: line-through;
}
small, .copy figure figcaption, .matrix-tile-meta, .back-to-site a, .language-selector li, .main-footer, .advanced-search-panel-show-hide a, .inline-gallery .inline-gallery-copyright-show-hide, .inline-gallery .inline-gallery-view-full, .small {
    font-size: 0.8em;
}
.highlight {
    background: none repeat scroll 0 0 #fff8ac;
    padding-left: 0.1em;
    padding-right: 0.1em;
}
.copy h2 {
    margin-top: 1.1em;
}
.copy h3 {
    margin-top: 1.25em;
}
.copy h4 {
    margin-top: 1.6em;
}
.copy h5, .copy h6 {
    color: #e6e6e8;
    font-style: italic;
    margin-top: 1.45em;
}
.copy p {
    margin-bottom: 0.85em;
}
.copy p a:hover, .copy p a:focus {
    text-decoration: underline;
}
.copy img {
    margin: 0.4em 0 1.1em;
    width: 100%;
}
.copy figure img {
    margin-bottom: 0.4em;
}
.copy figure figcaption {
    color: #5f5f60;
    margin-bottom: 1.2em;
}
.back-to-site a, .language-selector li, .language-selector a, a {
    color: #5f66f2;
    line-height: inherit;
    text-decoration: none;
}
.back-to-site a:hover, .language-selector li:hover, .language-selector a:hover, a:hover {
    text-decoration: none;
}
.back-to-site a, .language-selector li, .language-selector a {
    color: #88888c;
}
.back-to-site a:hover, .language-selector li:hover, .language-selector a:hover {
    color: #5f5f60;
}
.container {
    margin: 0 auto;
    max-width: 1240px;
    min-width: 760px;
    padding-left: 40px;
    padding-right: 40px;
}
.container::before, .container::after {
    content: " ";
    display: table;
}
.container::after {
    clear: both;
}
@media (min-width: 1000px) {
.container {
    padding-left: 70px;
    padding-right: 70px;
}
}
.matrix {
    margin: 0 -10px;
}
.matrix::before, .matrix::after {
    content: " ";
    display: table;
}
.matrix::after {
    clear: both;
}
@media (min-width: 1000px) {
.matrix {
    margin: 0 -15px;
}
}
.matrix-tile {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 1px;
    float: left;
    margin-bottom: 0;
    padding: 10px;
    width: 33.33%;
}
@media (min-width: 1000px) {
.matrix-tile {
    padding: 15px;
    width: 25%;
}
}
.matrix-tile:hover {
    border: 1px solid #1a1919;
    cursor: pointer;
    z-index: 999;
}
.matrix-tile-image img {
    height: auto;
    max-width: 100%;
    width: 100%;
}
.matrix-tile-header {
    margin-top: 0.5em;
}
.matrix-tile-header h3 {
    margin-bottom: 0.5em;
    max-height: 4.75em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.matrix-tile-header h3 a {
    color: #39393a;
    text-decoration: underline;
}
.matrix-tile-header h3 a:hover {
    color: #a2a2a5;
}
.matrix-tile-header h2 {
    font-family: "hill demibold",sans-serif;
    font-size: 1.25em;
    line-height: 1.3;
    margin-bottom: 0.5em;
}
.matrix-tile-header h2 a {
    color: #1a1919;
    display: block;
    max-height: 3.75em;
    overflow: hidden;
}
.matrix-tile-meta {
    color: #88888c;
}
.matrix-tile-meta li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.matrix-tile-image-missing {
    border: 1px solid #d6d6dd;
    height: 180px;
    margin-bottom: 0.8em;
    text-align: center;
}
.matrix-tile-image-missing i {
    background-color: transparent;
    background-image: url("../images/sprite.png");
    background-position: -8px -240px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    display: inline-block;
    height: 58px;
    margin-top: 60px;
    text-indent: 0;
    vertical-align: middle;
    width: 60px;
}
@media not all {
.matrix-tile-image-missing i {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.matrix-tile-image-missing i {
    background-image: url("../images/sprite@3x.png");
}
}
@media (min-width: 1000px) {
.matrix-five-columns .matrix-tile {
    width: 20%;
}
}
.matrix-equalized .matrix-tile {
    height: 391px;
    padding-bottom: 10px;
}
.matrix-equalized .matrix-tile-meta {
    height: 47px;
}
.matrix-equalized .matrix-tile-header {
    margin-top: 1em;
}
.matrix-equalized .matrix-tile-image {
    border: 1px solid #d6d6dd;
    height: 180px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
}
.matrix-equalized .matrix-tile-image img {
    opacity: 0;
    transition: opacity 400ms ease 0s;
}
.matrix-equalized .matrix-tile-image .spinner {
    display: none;
    left: 50%;
    margin-left: -25px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
}
.matrix-equalized .matrix-tile-image.show-spinner .spinner {
    display: block;
}
.matrix-equalized .matrix-tile-image-missing {
    margin-bottom: 0;
}
.matrix-tile.matrix-tile-thumbnail {
    height: 202px;
}
@media (min-width: 1000px) {
.matrix-tile.matrix-tile-thumbnail {
    height: 212px;
}
}
.back-to-site {
    float: left;
    width: 50%;
}
.back-to-site i {
    background-color: transparent;
    background-image: url("../images/sprite.png");
    background-position: -4px -47px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    display: inline-block;
    height: 11px;
    margin-right: 0.2em;
    margin-top: -0.1em;
    text-indent: -9999em;
    vertical-align: middle;
    width: 16px;
}
@media not all {
.back-to-site i {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.back-to-site i {
    background-image: url("../images/sprite@3x.png");
}
}
.language-selector {
    float: right;
    text-align: right;
    width: 50%;
}
.language-selector li {
    display: inline-block;
    margin-left: 0.5em;
}
.language-selector li.active a {
    color: #1a1919;
    font-weight: bold;
}
.main-header {
    margin-bottom: 2.5em;
    position: relative;
}
.main-header .branding {
    height: 38px;
    position: relative;
}
.main-header .branding a {
    background-color: transparent;
    background-image: url("../images/sprite.png");
    background-position: -1px 4px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    display: block;
    height: 38px;
    text-indent: -9999em;
    vertical-align: middle;
    width: 98px;
}
@media not all {
.main-header .branding a {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.main-header .branding a {
    background-image: url("../images/sprite@3x.png");
}
}
.main-header .branding i {
    bottom: -22px;
    display: inline-block;
    font-family: "hill thin",sans-serif;
    font-size: 39px;
    height: 38px;
    left: 102px;
    letter-spacing: -0.015em;
    line-height: 0;
    position: absolute;
}
.main-header .branding img {
    display: none;
}
.main-header .print {
    position: absolute;
    right: 0;
    top: 67px;
}
.main-header .print a {
    color: #1a1919;
    display: inline-block;
    opacity: 0.55;
    padding-bottom: 0.65em;
    padding-top: 0.9em;
}
.main-header .print a:hover {
    opacity: 0.75;
}
.main-header .print a i {
    background-color: transparent;
    background-image: url("../images/sprite.png");
    background-position: -1px -150px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    display: inline-block;
    height: 14px;
    margin-right: 0.1em;
    position: relative;
    text-indent: -9999em;
    top: -0.15em;
    vertical-align: middle;
    width: 14px;
}
@media not all {
.main-header .print a i {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.main-header .print a i {
    background-image: url("../images/sprite@3x.png");
}
}
.main-header-topshelf {
    margin-bottom: 1.8em;
    padding-top: 1.1em;
}
.main-header-topshelf::before, .main-header-topshelf::after {
    content: " ";
    display: table;
}
.main-header-topshelf::after {
    clear: both;
}
.main-footer {
    border-top: 1px solid #e6e6e8;
    clear: both;
    color: #88888c;
    margin-bottom: 3em;
    padding-top: 1.4em;
}
.main-footer::before, .main-footer::after {
    content: " ";
    display: table;
}
.main-footer::after {
    clear: both;
}
.main-footer .contact, .main-footer .copyright {
    margin-bottom: 0.4em;
}
.main-footer i {
    margin: 0 0.2em;
}
.main-footer i:first-child {
    margin-left: 0;
}
.main-footer a {
    color: #88888c;
}
.main-footer a:hover {
    color: #39393a;
}
.search-bar {
    margin-bottom: 2.75em;
    margin-top: -1px;
    width: 100%;
}
.search-bar form {
    border: 1px solid #1a1919;
    border-radius: 1px;
    height: 47px;
    position: relative;
    transition: border-color 300ms ease 0s;
}
.search-bar label {
    display: none;
}
.search-bar input[type="text"] {
    float: left;
    font-family: "hill light";
    font-size: 1.4em;
    height: 43px;
    left: 0;
    padding: 0.6em 0.9em 0.7em;
    position: absolute;
    top: 1px;
    transition: color 300ms ease 0s;
    vertical-align: top;
    width: 100%;
}
.search-bar .in-focus input[type="text"] {
}
.search-bar input[type="submit"] {
    background-color: #fff;
    background-image: url("../images/sprite.png");
    background-position: -241px 1px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    display: block;
    height: 45px;
    position: absolute;
    right: 0;
    text-indent: -9999em;
    top: 0;
    vertical-align: middle;
    width: 50px;
}
@media not all {
.search-bar input[type="submit"] {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.search-bar input[type="submit"] {
    background-image: url("../images/sprite@3x.png");
}
}
.search-bar .search-bar-strings {
    padding-bottom: 1.75em;
}
.search-utilities {
    color: #a2a2a5;
    margin-bottom: 1.9em;
    margin-top: -0.85em;
}
.search-utilities::before, .search-utilities::after {
    content: " ";
    display: table;
}
.search-utilities::after {
    clear: both;
}
.search-utilities .search-utilities-results {
    float: left;
}
.search-utilities .search-utilities-sortby {
    float: right;
    margin-right: 1px;
}
.search-utilities .search-utilities-booleans .filter-boolean {
    float: right;
}
.search-utilities .search-utilities-booleans .filter-boolean label {
    margin-right: 2.1em;
    padding-bottom: 0;
}
.tabs, .search-type-selector .search-tabs {
    border-bottom: 1px solid #1a1919;
    margin-bottom: 1.5em;
}
.tabs::before, .search-type-selector .search-tabs::before, .tabs::after, .search-type-selector .search-tabs::after {
    content: " ";
    display: table;
}
.tabs::after, .search-type-selector .search-tabs::after {
    clear: both;
}
.tabs a, .search-type-selector .search-tabs a {
    color: #5f5f60;
    display: inline-block;
    float: left;
    font-family: "hill demibold",sans-serif;
    font-size: 14px;
    margin-right: 1.15em;
    padding: 0.75em 3px 0.9em;
    text-transform: uppercase;
}
.tabs a:hover, .search-type-selector .search-tabs a:hover {
    color: #5f5f60;
}
.tabs a.active, .search-type-selector .search-tabs a.active {
    box-shadow: 0 -3px 0 #1a1919 inset;
    color: #1a1919;
}
.tab-content {
    left: -9999px !important;
    position: absolute !important;
    top: -9999px !important;
}
.tab-content--open {
    left: 0 !important;
    position: relative !important;
    top: 0 !important;
}
.tabs.print-tabs, .search-type-selector .print-tabs.search-tabs {
    display: none;
}
.single-artwork-tabs {
    margin-bottom: 3em;
}
.single-artwork-tabs .copy {
    padding-top: 2px;
}
@media (min-width: 1000px) {
.single-artwork-tabs .copy {
    padding-top: 8px;
}
}
.pager {
    margin: 1em 0 3.5em;
    text-align: center;
}
.pager li {
    display: inline-block;
    font-family: "hill regular",sans-serif;
    font-size: 14px;
    margin: 0 -0.3em;
    text-transform: uppercase;
}
.pager li a {
    color: #88888c;
    display: block;
    padding: 0.7em;
}
.pager li a:hover {
    color: #5f5f60;
}
.pager li.pager-ellipsis, .pager li.pager-active a {
    bottom: -0.07em;
    color: #1a1919;
    font-family: "hill demibold",sans-serif;
    font-size: 1.3em;
    position: relative;
}
.pager li.pager-ellipsis {
    color: #88888c;
    font-size: 14px;
    padding: 0.7em;
}
.pager-previous, .pager-next {
    padding: 0 0.75em;
    position: relative;
    top: 0.3em;
}
.pager-previous a, .pager-next a {
    background-color: transparent;
    background-image: url("../images/sprite.png");
    background-position: -1px -189px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    display: block;
    height: 32px;
    text-indent: -9999em;
    vertical-align: middle;
    width: 32px;
}
@media not all {
.pager-previous a, .pager-next a {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.pager-previous a, .pager-next a {
    background-image: url("../images/sprite@3x.png");
}
}
.pager-next a {
    background-position: -58px -189px;
}
.search-type-selector {
    border-bottom: 1px solid #1a1919;
}
.search-type-selector::before, .search-type-selector::after {
    content: " ";
    display: table;
}
.search-type-selector::after {
    clear: both;
}
.search-type-selector .search-tabs {
    border-bottom: 0 none;
    float: left;
    margin-bottom: 0;
}
.advanced-search-panel-wrapper {
    margin-bottom: 2.75em;
    margin-top: -1.75em;
    position: relative;
}
@media (min-width: 1000px) {
.advanced-search-panel-wrapper {
    margin-bottom: 3.2em;
}
}
.advanced-search-panel {
    border-bottom: 1px solid #1a1919;
    padding-bottom: 0.3em;
    padding-top: 1.25em;
    transition: height 200ms ease 0s;
}
.advanced-search-panel::before, .advanced-search-panel::after {
    content: " ";
    display: table;
}
.advanced-search-panel::after {
    clear: both;
}
@media (min-width: 1000px) {
.advanced-search-panel {
    padding-bottom: 0.6em;
}
}
.advanced-search-panel form {
    opacity: 1;
    transition: opacity 200ms ease 0s;
}
.advanced-search-panel .column-wrapper {
    margin: 0 -10px;
}
@media (min-width: 1000px) {
.advanced-search-panel .column-wrapper {
    margin: 0 -15px;
}
}
.advanced-search-panel .column {
    float: left;
    padding: 0 10px;
    width: 20%;
}
@media (min-width: 1000px) {
.advanced-search-panel .column {
    padding: 0 15px;
}
}
.advanced-search-panel h3 {
    color: #5f5f60;
    display: inline-block;
    font-family: "hill demibold",sans-serif;
    font-size: 14px;
    margin-bottom: 9px;
    text-transform: uppercase;
}
.advanced-search-panel-submit {
    clear: both;
    float: right;
    margin-bottom: 1.7em;
    margin-top: -1em;
    padding-left: 16px;
    width: 20%;
}
@media (min-width: 1000px) {
.advanced-search-panel-submit {
    padding-left: 24px;
}
}
.advanced-search-panel-submit input[type="submit"] {
    background-color: #fff;
    border: 1px solid #1a1919;
    border-radius: 2px;
    color: #1a1919;
    display: inline-block;
    float: right;
    font-family: "hill demibold",sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 6px 15px;
    text-transform: uppercase;
    width: 100%;
}
.advanced-search-panel-submit input[type="submit"] i {
    background-color: transparent;
    background-image: url("../images/sprite.png");
    background-position: -176px -45px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    display: inline-block;
    height: 13px;
    left: -1px;
    margin-right: 3px;
    position: relative;
    text-indent: -9999em;
    top: -1px;
    vertical-align: middle;
    width: 13px;
}
@media not all {
.advanced-search-panel-submit input[type="submit"] i {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.advanced-search-panel-submit input[type="submit"] i {
    background-image: url("../images/sprite@3x.png");
}
}
.advanced-search-panel-submit input[type="submit"]:hover {
    border-color: #5f5f60;
    color: #5f5f60;
}
.advanced-search-panel-submit input[type="submit"]:hover i {
    background-position: -215px -45px;
}
.advanced-search-panel-show-hide {
    bottom: -0.6em;
    position: absolute;
    text-align: center;
    width: 100%;
}
.advanced-search-panel-show-hide a {
    background: none repeat scroll 0 0 white;
    border: 1px solid #1a1919;
    border-radius: 2px;
    color: #1a1919;
    padding: 0.3em 0.75em;
}
.advanced-search-panel-show-hide a:hover {
    background: none repeat scroll 0 0 #1a1919;
    color: white;
}
.advanced-search-panel-hidden {
    border-color: #d6d6dd;
    overflow: hidden;
}
.advanced-search-panel-hidden form {
    opacity: 0;
}
.filters {
    float: left;
    padding-right: 10px;
    padding-top: 1px;
    width: 25%;
}
.filters::before, .filters::after {
    content: " ";
    display: table;
}
.filters::after {
    clear: both;
}
@media (min-width: 1000px) {
.filters {
    padding-right: 15px;
    width: 20%;
}
}
.filters .filters-inner {
    padding-top: 1.4em;
}
.filter-group {
    margin-bottom: 2.1em;
}
.filter-group-vertical-align {
    margin-top: 49px;
}
.filter-group-pair {
    margin-bottom: 1.2em;
}
.filter-group-pair::before, .filter-group-pair::after {
    content: " ";
    display: table;
}
.filter-group-pair::after {
    clear: both;
}
.filter-group-pair label {
    color: #39393a;
    display: block;
    margin-bottom: 0.3em;
}
.filter-group-pair input[type="number"], .filter-group-pair input[type="text"] {
    border: 1px solid #d6d6dd;
    padding: 7px 4px;
    width: 100%;
}
.filter-group-interval input[type="text"] {
    float: left;
    width: 46%;
}
.filter-group-interval span {
    color: #88888c;
    display: inline-block;
    float: left;
    padding: 7px 4px;
    text-align: center;
    width: 8%;
}
.filter-boolean input[type="checkbox"] {
    display: none;
}
.filter-boolean label i {
    background-color: transparent;
    background-image: url("../images/sprite.png");
    background-position: -23px -86px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    display: block;
    height: 12px;
    left: 3px;
    position: absolute;
    text-indent: -9999em;
    top: 2px;
    vertical-align: middle;
    width: 12px;
}
@media not all {
.filter-boolean label i {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.filter-boolean label i {
    background-image: url("../images/sprite@3x.png");
}
}
.filter-boolean label:hover {
    color: #5f5f60;
    cursor: pointer;
}
.filter-boolean label:hover i {
    background-position: -45px -86px;
}
.filter-boolean input[type="checkbox"]:checked + label {
    color: #1a1919;
}
.filter-boolean input[type="checkbox"]:checked + label i {
    background-position: -1px -86px;
}
.filter-boolean label {
    display: block;
    overflow: hidden;
    padding-bottom: 9px;
    padding-left: 20px;
    position: relative;
}
.filter-boolean label:hover {
    color: #1a1919;
}
.filter-boolean label i {
    left: 0;
    top: 2px;
}
.filters-booleans {
    border-top: 1px solid #d6d6dd;
    margin-bottom: 0.6em;
    padding-top: 1.4em;
}
.filters-selected {
    border-top: 1px solid #d6d6dd;
    height: auto;
    margin-bottom: -1px;
    padding: 0;
    transition: all 400ms ease 0s;
}
.filters-selected.filters-selected-open {
    padding: 0 0 1.2em;
}
.filters-selected .filters-selected-item {
    margin-right: 0;
}
.search-results {
    float: right;
    margin-top: -10px;
    padding-left: 10px;
    width: 75%;
}
@media (min-width: 1000px) {
.search-results {
    margin-top: -15px;
    padding-left: 15px;
    width: 80%;
}
}
.search-results-full-width {
    float: none;
    padding-left: 0;
    width: 100%;
}
@media (min-width: 1000px) {
.search-results-full-width {
    padding-left: 0;
    width: 100%;
}
}
@media (min-width: 1000px) {
.search-results-full-width .matrix-tile {
    width: 20%;
}
}
.chosen-container {
    -moz-user-select: none;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.chosen-container * {
    box-sizing: border-box;
}
.chosen-container .chosen-drop {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border-color: -moz-use-text-color #d6d6dd #d6d6dd;
    border-image: none;
    border-radius: 1px;
    border-right: 1px solid #d6d6dd;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    left: -9999px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1010;
}
.chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
}
.chosen-container a {
    cursor: pointer;
}
.chosen-container-single .chosen-single {
    background-color: #fff;
    border: 1px solid #d6d6dd;
    border-radius: 1px;
    color: #1a1919;
    display: block;
    height: 31px;
    line-height: 23px;
    overflow: hidden;
    padding: 2px 0 2px 4px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}
.chosen-container-single .chosen-default {
    color: #a2a2a5;
}
.chosen-container-single .chosen-single span {
    background-color: #1a1919;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    color: #fff;
    display: inline-block;
    float: left;
    line-height: 13px;
    margin: 2px 0;
    overflow: hidden;
    padding: 4px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chosen-container-single .chosen-single.chosen-default span {
    background: none repeat scroll 0 0 #fff;
    color: #a2a2a5;
    padding-left: 0;
}
.chosen-container-single .chosen-single abbr {
    background-color: #1a1919;
    background-image: url("../images/sprite.png");
    background-position: -98px -120px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    display: inline-block;
    height: 21px;
    line-height: 13px;
    text-indent: -9999em;
    vertical-align: middle;
    width: 16px;
}
@media not all {
.chosen-container-single .chosen-single abbr {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.chosen-container-single .chosen-single abbr {
    background-image: url("../images/sprite@3x.png");
}
}
.chosen-container-single .chosen-single div {
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
}
.chosen-container-single .chosen-single div b {
    background-color: transparent;
    background-image: url("../images/sprite.png");
    background-position: -46px -117px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    display: block;
    height: 28px;
    opacity: 0.4;
    text-indent: -9999em;
    vertical-align: middle;
    width: 18px;
}
@media not all {
.chosen-container-single .chosen-single div b {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.chosen-container-single .chosen-single div b {
    background-image: url("../images/sprite@3x.png");
}
}
.chosen-container-single .chosen-single div b:hover {
    opacity: 1;
}
.chosen-select {
    display: none;
}
.chosen-container-single .chosen-search {
    margin: 0;
    padding: 3px 4px;
    position: relative;
    white-space: nowrap;
    z-index: 1010;
}
.chosen-container-single .chosen-search input[type="text"] {
    border: 1px solid #d6d6dd;
    border-radius: 0;
    font-family: sans-serif;
    font-size: 1em;
    height: auto;
    line-height: normal;
    margin: 2px 0;
    outline: 0 none;
    padding: 4px 20px 4px 4px;
    width: 100%;
}
.chosen-container-single .chosen-drop {
    background-clip: padding-box;
    margin-top: -1px;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
    left: -9999px;
    position: absolute;
}
.chosen-container .chosen-results {
    color: #444;
    margin: 0;
    max-height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: relative;
}
.chosen-container .chosen-results li {
    display: none;
    line-height: 15px;
    list-style: outside none none;
    margin: 0;
    padding: 4px 6px;
    word-wrap: break-word;
}
.chosen-container .chosen-results li.active-result {
    cursor: pointer;
    display: list-item;
}
.chosen-container .chosen-results li.disabled-result {
    color: #ccc;
    cursor: default;
    display: list-item;
}
.chosen-container .chosen-results li.highlighted {
    background-color: #f2f2f4;
}
.chosen-container .chosen-results li.no-results {
    background: none repeat scroll 0 0 #f4f4f4;
    color: #777;
    display: list-item;
}
.chosen-container .chosen-results li.group-result {
    cursor: default;
    display: list-item;
    font-weight: bold;
}
.chosen-container .chosen-results li.group-option {
    padding-left: 15px;
}
.chosen-container .chosen-results li em {
    font-style: normal;
    text-decoration: underline;
}
.chosen-container-multi .chosen-choices {
    background-color: #fff;
    border: 1px solid #d6d6dd;
    border-radius: 1px;
    cursor: text;
    height: auto !important;
    margin: 0;
    overflow: hidden;
    padding: 0 20px 0 4px;
    position: relative;
    width: 100%;
}
.chosen-container-multi .chosen-choices::after {
    background-color: transparent;
    background-image: url("../images/sprite.png");
    background-position: -50px -128px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    content: "";
    display: block;
    height: 6px;
    opacity: 0.4;
    position: absolute;
    right: 7px;
    text-indent: -9999em;
    top: 11px;
    vertical-align: middle;
    width: 7px;
}
@media not all {
.chosen-container-multi .chosen-choices::after {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.chosen-container-multi .chosen-choices::after {
    background-image: url("../images/sprite@3x.png");
}
}
.chosen-container-multi.chosen-container-active .chosen-choices::after {
    background-position: -78px -128px;
}
.search-bar-strings li, .chosen-container-multi .chosen-choices li {
    float: left;
    list-style: outside none none;
}
.chosen-container-multi .chosen-choices li.search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    border-radius: 0;
    box-shadow: none;
    color: #a2a2a5;
    font-family: sans-serif;
    font-size: 100%;
    height: 25px;
    line-height: normal;
    margin: 2px 0;
    outline: 0 none;
    padding: 0;
    width: 100% !important;
}
.filters-selected li, .search-bar-strings li, .chosen-container-multi .chosen-choices li.search-choice {
    background-clip: padding-box;
    background-color: #1a1919;
    background-repeat: repeat-x;
    background-size: 100% 19px;
    border: 1px solid #1a1919;
    border-radius: 2px;
    color: #fff;
    cursor: default;
    line-height: 13px;
    margin: 4px 4px 0 0;
    max-width: 100%;
    padding: 3px 19px 3px 5px;
    position: relative;
}
.search-bar-strings li span, .chosen-container-multi .chosen-choices li.search-choice span {
    word-wrap: break-word;
}
.filters-selected li .search-choice-close, .search-bar-strings li a, .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    background-color: transparent;
    background-image: url("../images/sprite.png");
    background-position: -97px -121px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    cursor: pointer;
    display: block;
    height: 19px;
    position: absolute;
    right: 0;
    text-indent: -9999em;
    top: 0;
    vertical-align: middle;
    width: 15px;
}
@media not all {
.filters-selected li .search-choice-close, .search-bar-strings li a, .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.filters-selected li .search-choice-close, .search-bar-strings li a, .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    background-image: url("../images/sprite@3x.png");
}
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
    background-color: #e4e4e4;
    border: 1px solid #ccc;
    color: #666;
    padding-right: 4px;
}
.chosen-container-multi .chosen-results {
    margin: 0;
    padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
    color: #ccc;
    cursor: default;
    display: list-item;
}
.chosen-container-active .chosen-single {
    border: 1px solid #a2a2a5;
}
.chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #d6d6dd;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
    background: none repeat scroll 0 0 transparent;
    border-left: medium none;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -74px -117px;
}
.chosen-container-active .chosen-choices {
    border: 1px solid #a2a2a5;
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #222 !important;
}
.chosen-disabled {
    cursor: default;
    opacity: 0.5 !important;
}
.chosen-disabled .chosen-single {
    cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
}
.chosen-rtl {
    text-align: right;
}
.chosen-rtl .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
    direction: rtl;
    margin-left: 26px;
    margin-right: 0;
}
.chosen-rtl .chosen-single-with-deselect span {
    margin-left: 38px;
}
.chosen-rtl .chosen-single div {
    left: 3px;
    right: auto;
}
.chosen-rtl .chosen-single abbr {
    left: 26px;
    right: auto;
}
.chosen-rtl .chosen-choices li {
    float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
    direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
    left: 4px;
    right: auto;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search, .chosen-rtl .chosen-drop {
    left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
    padding-left: 0;
    padding-right: 15px;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: medium none;
}
.chosen-rtl .chosen-search input[type="text"] {
    direction: rtl;
    padding: 4px 4px 4px 20px;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
    background-color: transparent;
    background-image: url("../images/sprite.png");
    background-position: -50px -128px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    display: block;
    height: 28px;
    text-indent: -9999em;
    vertical-align: middle;
    width: 18px;
}
@media not all {
.chosen-rtl.chosen-container-single .chosen-single div b {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.chosen-rtl.chosen-container-single .chosen-single div b {
    background-image: url("../images/sprite@3x.png");
}
}
.todo {
    background: none repeat scroll 0 0 pink;
    outline: 2px solid pink;
}
.dropit .dropit-trigger {
    position: relative;
}
.dropit .dropit-trigger > a {
    color: #1a1919;
}
.dropit .dropit-trigger > a:hover {
    color: #1a1919;
}
.dropit .dropit-trigger > a b {
    background-color: transparent;
    background-image: url("../images/sprite.png");
    background-position: -48px -125px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    display: inline-block;
    height: 14px;
    margin-left: 0.3em;
    opacity: 0.8;
    text-indent: -9999em;
    vertical-align: middle;
    width: 11px;
}
@media not all {
.dropit .dropit-trigger > a b {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.dropit .dropit-trigger > a b {
    background-image: url("../images/sprite@3x.png");
}
}
.dropit-toggle:hover {
    cursor: pointer;
}
.dropit .dropit-submenu {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #1a1919;
    display: none;
    list-style: outside none none;
    margin: 7px 0 0;
    min-width: 160px;
    padding: 0.5em 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1000;
}
.dropit .dropit-submenu li a {
    color: #a2a2a5;
    display: block;
    padding: 0.25em 1em;
}
.dropit .dropit-submenu li a:hover {
    color: #5f5f60;
}
.dropit .dropit-submenu li.active a {
    color: #1a1919;
    font-weight: bold;
}
.dropit .dropit-open .dropit-submenu {
    display: block;
}
.dropit .dropit-open.dropit-trigger > a {
    color: #5f5f60;
    display: inline-block;
}
.dropit .dropit-open.dropit-trigger > a b {
    background-position: -76px -125px;
    opacity: 0.8;
}
.data-section {
    margin-bottom: 2.5em;
}
.data-section > h3 {
    color: #1a1919;
    font-family: "hill demibold",sans-serif;
    font-size: 14px;
    padding: 0 0 0.5em;
    text-transform: uppercase;
}
.data-section .data-pair {
    padding: 0.45em 0.3em;
}
.data-section .data-pair::before, .data-section .data-pair::after {
    content: " ";
    display: table;
}
.data-section .data-pair::after {
    clear: both;
}
.data-section .data-pair:nth-child(2n) {
    background: none repeat scroll 0 0 #f5f5f6;
}
.data-section .data-pair:nth-child(2n+1) {
    padding-bottom: 0.55em;
    padding-top: 0.55em;
}
.data-section .data-pair .data-pair-key {
    color: #a2a2a5;
    float: left;
    padding-right: 30px;
    width: 20%;
}
.data-section .data-pair .data-pair-value {
    float: right;
    width: 80%;
}
.data-section .data-pair .data-pair-value i {
    color: #a2a2a5;
    font-style: italic;
}
.data-section.data-section-compact {
    margin-bottom: 1.25em;
}
.data-section.data-section-compact h3 {
    padding-bottom: 0.25em;
}
.artwork {
    margin-bottom: 2.5em;
}
.artwork::before, .artwork::after {
    content: " ";
    display: table;
}
.artwork::after {
    clear: both;
}
.artwork .artwork-gallery {
    float: left;
    padding-right: 18px;
    width: 40%;
}
.artwork .artwork-content {
    float: right;
    padding-left: 14px;
    width: 60%;
}
.artwork .artwork-artists {
    font-family: "hill regular",sans-serif;
    margin-bottom: 1.4em;
}
.artwork .artwork-artists li {
    color: #1a1919;
    margin-bottom: 0.1em;
}
.artwork .artwork-artists i {
    color: #a2a2a5;
}
.artwork .artwork-artists a {
    color: #1a1919;
    text-decoration: underline;
}
.artwork .artwork-artists a:hover {
    color: #a2a2a5;
}
.artwork .artwork-title {
    font-family: "hill demibold",sans-serif;
    font-size: 2.1em;
    line-height: 1.15;
    margin-bottom: 0.65em;
}
.artwork .artwork-series-title {
    font-family: "hill regular",sans-serif;
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: 1em;
}
.artwork .artwork-series-title i {
    color: #a2a2a5;
}
.artwork .artwork-data {
    margin-top: 2em;
}
.inline-gallery img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    opacity: 0;
    width: 100%;
}
.inline-gallery .inline-gallery-main {
    border: 1px solid #d6d6dd;
    height: 421px;
    margin-bottom: -1px;
    margin-right: 4px;
    overflow: hidden;
    padding: 33px 33px 37px;
    position: relative;
    text-align: center;
}
.inline-gallery .inline-gallery-main img {
    transition: opacity 500ms ease 0s;
}
.inline-gallery .inline-gallery-main-image .spinner {
    left: 50%;
    margin-left: -25px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
}
.inline-gallery .inline-gallery-copyright {
    height: 0;
    margin-right: 4px;
    overflow: hidden;
}
.inline-gallery .inline-gallery-copyright .inline-gallery-copyright-inner {
    padding: 1em 33px;
}
.inline-gallery .inline-gallery-copyright.active {
    border: 1px solid #d6d6dd;
    height: auto;
    margin-bottom: -1px;
}
.inline-gallery .inline-gallery-thumbs li {
    border: 1px solid #d6d6dd;
    float: left;
    height: 85px;
    margin-bottom: -1px;
    margin-right: -1px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    width: 20%;
}
.inline-gallery .inline-gallery-thumbs li img {
    opacity: 0.4;
}
.inline-gallery .inline-gallery-thumbs li:hover {
    cursor: pointer;
}
.inline-gallery .inline-gallery-thumbs li:hover img {
    opacity: 0.5;
}
.inline-gallery .inline-gallery-thumbs li.active img {
    opacity: 1;
}
.inline-gallery .inline-gallery-copyright-show-hide, .inline-gallery .inline-gallery-view-full {
    bottom: 0;
    color: #a2a2a5;
    display: inline-block;
    height: 33px;
    left: 33px;
    line-height: 31px;
    position: absolute;
}
.inline-gallery .inline-gallery-copyright-show-hide:hover, .inline-gallery .inline-gallery-view-full:hover {
    color: #5f5f60;
}
.inline-gallery .inline-gallery-copyright-show-hide:hover i, .inline-gallery .inline-gallery-view-full:hover i {
    opacity: 0.6;
}
.inline-gallery .inline-gallery-copyright-show-hide i {
    background-color: transparent;
    background-image: url("../images/sprite.png");
    background-position: -30px -306px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    display: inline-block;
    height: 15px;
    margin-right: 0.1em;
    opacity: 0.4;
    position: relative;
    text-indent: -9999em;
    top: -0.13em;
    vertical-align: middle;
    width: 15px;
}
@media not all {
.inline-gallery .inline-gallery-copyright-show-hide i {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.inline-gallery .inline-gallery-copyright-show-hide i {
    background-image: url("../images/sprite@3x.png");
}
}
.inline-gallery .inline-gallery-copyright-show-hide.active {
    color: #1a1919;
}
.inline-gallery .inline-gallery-copyright-show-hide.active i {
    opacity: 0.8;
}
.inline-gallery .inline-gallery-view-full {
    bottom: 0;
    left: auto;
    right: 33px;
}
.inline-gallery .inline-gallery-view-full i {
    background-color: transparent;
    background-image: url("../images/sprite.png");
    background-position: -10px -307px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    display: inline-block;
    height: 14px;
    margin-left: 0.1em;
    opacity: 0.4;
    position: relative;
    text-indent: -9999em;
    top: -0.1em;
    vertical-align: middle;
    width: 14px;
}
@media not all {
.inline-gallery .inline-gallery-view-full i {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.inline-gallery .inline-gallery-view-full i {
    background-image: url("../images/sprite@3x.png");
}
}
.spinner {
    font-size: 10px;
    height: 30px;
    margin: 0;
    text-align: center;
    width: 50px;
}
.spinner > div {
    animation: 1.2s ease-in-out 0s normal none infinite running stretchdelay;
    background-color: #fff;
    display: inline-block;
    height: 100%;
    width: 3px;
}
.spinner.spinner-dark > div {
    background-color: rgba(0, 0, 0, 0.2);
}
.spinner .rect2 {
    animation-delay: -1.1s;
}
.spinner .rect3 {
    animation-delay: -1s;
}
.spinner .rect4 {
    animation-delay: -0.9s;
}
.spinner .rect5 {
    animation-delay: -0.8s;
}
@keyframes stretchdelay {
0%, 40%, 100% {
    transform: scaleY(0.4);
}
20% {
    transform: scaleY(1);
}
}
.twitter-typeahead {
    width: 100%;
}
.tt-dropdown-menu {
    background: none repeat scroll 0 0 white;
    border: 1px solid #1a1919;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
    left: -1px !important;
    right: -1px !important;
    top: 45px !important;
}
.tt-dataset-states {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.tt-suggestion p {
    color: #a2a2a5;
    font-family: "hill light";
    font-size: 1.4em;
    padding: 0.4em 0.9em 0.5em;
}
.tt-suggestion p strong.tt-highlight {
    color: #1a1919;
    font-weight: normal !important;
    text-decoration: underline;
}
.tt-suggestion.tt-cursor {
    background-color: #f2f2f4;
}
.tt-suggestion.tt-cursor p {
    color: #1a1919 !important;
}
.search-bar-field.tt-hint {
    color: #1a1919;
    top: 1px !important;
}
.cd-top {
    display: none;
}
@media (min-width: 767px) {
.cd-top {
    background-color: transparent;
    background-image: url("../images/sprite.png");
    background-position: -173px -89px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    bottom: 10px;
    box-shadow: none;
    display: block;
    height: 40px;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    text-indent: -9999em;
    transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    vertical-align: middle;
    visibility: hidden;
    white-space: nowrap;
    width: 40px;
}
}
@media not all {
.cd-top {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.cd-top {
    background-image: url("../images/sprite@3x.png");
}
}
@media (min-width: 767px) {
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    transition: opacity 0.3s ease 0s, visibility 0s ease 0s;
}
.cd-top.cd-is-visible {
    opacity: 1;
    visibility: visible;
}
.cd-top.cd-is-visible:hover {
    opacity: 0.5;
}
.cd-top.cd-fade-out {
    opacity: 0.5;
}
}
@media (min-width: 1000px) {
.cd-top {
    background-color: transparent;
    background-image: url("../images/sprite.png");
    background-position: -247px -86px;
    background-repeat: no-repeat;
    background-size: 500px auto;
    bottom: 20px;
    display: block;
    height: 40px;
    right: 16px;
    text-indent: -9999em;
    vertical-align: middle;
    width: 40px;
}
}
@media not all {
.cd-top {
    background-image: url("../images/sprite@2x.png");
}
}
@media not all {
.cd-top {
    background-image: url("../images/sprite@3x.png");
}
}
@media (min-width: 1279px) {
.cd-top {
    bottom: 28px;
    right: 30px;
}
}
