@CHARSET "ISO-8859-1";

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
	background: url("../images/ajax_loader_gray_64.gif") no-repeat fixed 50%
		50% rgba(255, 255, 255, 0.8);
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	display: none;
}


#currentsearch{
    width: 60%;
    padding-left: 15px;
    padding-top: 3px;
    position: absolute;
    right: 0;    
}    

#sorter{
	display: block; 
	margin-bottom: 20px; 	
}

.matrix-tile-image{
	position: relative;		
}

.matrix-tile .copyright-info{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    bottom: 0;
    cursor: pointer;
    display: table;    
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    opacity: 0;	
    color: white;
    font-style: italic;
}

.matrix-tile .copyright-info >ul {
    margin-bottom: 0.2em;
    margin-left: 0.5em;
}

a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}


#pager-viser{		
    bottom: 5px;
    margin: 1em 0 0.5em;
    position: fixed;
    right: 70px;
    text-align: center;
    width: 200px;
}
   
#pager-viser li {
    display: inline-block;        
    color: #88888c;
    float: left;
    font-style: italic;
    padding-top: 1.25em;
}

.matrix-tile.scroll_add, .matrix-tile.realtime_add {
	opacity: 0;
	transition: opacity 500ms ease-in-out 0s;
}

.search-terms ul li {
    background-clip: padding-box;
    background-color: #111;
    border-radius: 2px;
    color: #fff;
    cursor: default;
    display: inline-block;
    line-height: normal;
    margin: 0 0.35em 0.5em 0;
    padding: 0.25em 1.5em 0.25em 0.4em;
    position: relative;
}
.search-terms ul li > span {
    color: #fff;
}
.search-terms ul li > a {
    background-image: url("../images/sprite_2x_old.png");
    background-position: 0 -36px;
    background-size: 215px auto;
    display: inline-block;
    height: 9px;
    opacity: 0.6;
    position: absolute;
    right: 0.4em;
    text-indent: -9999em;
    top: 0.45em;
    width: 9px;
}


#smk_search_version {
    color: #e2e3eb;
    float:left;
}

.highlight {
    background-color: #fff8ac;
}

.cc0 {
    background-image: url("../images/cc0.png");
    cursor: pointer;
    display: block;
    height: 31px;
    opacity: 0.2;
    text-indent: -9999em;
    width: 88px;
}

.scroll-spinning {		
	background: url("../images/scroll_spinning.gif") no-repeat fixed 57% bottom rgba(255, 255, 255, 1);
    bottom: 0;
    height: 16px;
    left: 56%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    width: 25px;
    z-index: 1001;
    display: none;	
}

#smk_search_wrapper.modal_loading  {
    overflow: hidden;
}
#smk_search_wrapper.modal_loading .modal {
    display: block;
}

.matrix-tile-image img[src*="default_picture"] {
    opacity: 0.3;
}

/* Modif of Jacques' code */

.matrix-tile:hover {
    border: 1px solid #1a1919;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    cursor: default;
    z-index: 999;
}

