<div class="search-type-selector">
	<script id="advancedSearchTemplate" type="text/template">	
		<div class="advanced-search-panel-wrapper">
			<div class="advanced-search-panel" style="height: auto;" data-height="354.95">
	
				<form method="post" action="index.html">
	
					<div class="column-wrapper">
						
						{{#list}}
						<div class="column">
							<div class="filter-group">
								<h3>{{{lab}}}</h3>
								
								{{#values}}
									<div id="{{{id}}}" lang="en dk"></div>
								{{/values}}
								
							</div>
						</div>
						{{/list}}
	
					</div>
					<!-- /.column-wrapper -->					
	
				</form>
	
				<div class="advanced-search-panel-show-hide">
					<a data-label-open="Vis filtre" data-label-close="Skjul filtre"
						href="#">Skjul filtre</a>
				</div>
	
			</div>
			<!-- /.advanced-search-panel -->
		</div>
	</script>
</div>

