<div class="search-type-selector">
	<script id="advancedSearchTemplate" type="text/template">	
		<div class="advanced-search-panel-wrapper">
			<div class="advanced-search-panel advanced-search-panel-hidden" style="height: 6px;" data-height="354.95">
	
				
	
					<div class="column-wrapper">
						
						{{#list.filters}}
						<div class="column">
							<div class="filter-group">
								<h3>{{{lab}}}</h3>
								
								{{#values}}
									<div id="{{{id}}}" lang="{{{lang}}}"></div>
								{{/values}}
								
							</div>
						</div>
						{{/list.filters}}
	
					</div>
					<!-- /.column-wrapper -->					
	
				
	
				<div class="advanced-search-panel-show-hide">
					<a data-label-open="{{{list.show_panel_lab}}}" data-label-close="{{{list.hide_panel_lab}}}"
						href="#">{{{list.show_panel_lab}}}</a>
				</div>
	
			</div>
			<!-- /.advanced-search-panel -->
		</div>
	</script>
</div>

