<div>

<script id="detailDescriptionTemplate" type="text/template">	
{{#info.references_texts}}
	<div data-tabs-id="artwork-tabs" id="description" class="tab-content">
    	<div class="copy">{{{info.references_texts}}}</div>
  	</div>
{{/info.references_texts}}
</script>

<script id="detailDetailTemplate" type="text/template">	
<div data-tabs-id="artwork-tabs" id="details" class="tab-content tab-content--open">
	
<!-- identification -->

	<div class="data-section">
      <h3>{{{ident_lab}}}</h3>

      {{#ident_vaerktype.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{ident_vaerktype.key}}}</h4>
        <div class="data-pair-value">{{{ident_vaerktype.value}}}
        </div><!-- /.data-pair-value -->
      </div><!-- /.data-pair -->
      {{/ident_vaerktype.value}}

	{{#ident_dele.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{ident_dele.key}}}</h4>
        <div class="data-pair-value">{{{ident_dele.value}}}
        </div><!-- /.data-pair-value -->
      </div><!-- /.data-pair -->
      {{/ident_dele.value}}
      
	{{#ident_invnummer.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{ident_invnummer.key}}}</h4>
        <div class="data-pair-value">{{{ident_invnummer.value}}}
        </div><!-- /.data-pair-value -->
      </div><!-- /.data-pair -->
      {{/ident_invnummer.value}}
      
	{{#ident_samling.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{ident_samling.key}}}</h4>
        <div class="data-pair-value">{{{ident_samling.value}}}
        </div><!-- /.data-pair-value -->
      </div><!-- /.data-pair -->
      {{/ident_samling.value}}
      
	{{#ident_andet_inv.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{ident_andet_inv.key}}}</h4>
        <div class="data-pair-value">{{{ident_andet_inv.value}}}
        </div><!-- /.data-pair-value -->
      </div><!-- /.data-pair -->
      {{/ident_andet_inv.value}}      
    </div>

<!-- /.identification -->


<!-- producent -->

	<div class="data-section">
      <h3>{{{producent_lab}}}</h3>

      {{#producent_kunster.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_kunster.key}}}</h4>
		{{#producent_kunster.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i></li>		
        	</div><!-- /.data-pair-value -->
		{{/producent_kunster.value}}
      </div><!-- /.data-pair -->
      {{/producent_kunster.show}}

	{{#producent_tilskrevet.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_tilskrevet.key}}}</h4>
        {{#producent_tilskrevet.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i></li>		
        	</div><!-- /.data-pair-value -->
		{{/producent_tilskrevet.value}}
      </div><!-- /.data-pair -->
      {{/producent_tilskrevet.show}}
      
	{{#producent_tidltilskrvet.value.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_tidltilskrvet.key}}}</h4>
        {{#producent_tidltilskrvet.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i></li>		
        	</div><!-- /.data-pair-value -->
		{{/producent_tidltilskrvet.value}}
      </div><!-- /.data-pair -->
      {{/producent_tidltilskrvet.value.show}}
      
	{{#producent_vaerksted.value.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_vaerksted.key}}}</h4>
        {{#producent_vaerksted.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i></li>		
        	</div><!-- /.data-pair-value -->
		{{/producent_vaerksted.value}}
      </div><!-- /.data-pair -->
      {{/producent_vaerksted.value.show}}
      
	{{#producent_efterfoelger.value.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_efterfoelger.key}}}</h4>
        {{#producent_efterfoelger.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i></li>		
        	</div><!-- /.data-pair-value -->
		{{/producent_efterfoelger.value}}
      </div><!-- /.data-pair -->
      {{/producent_efterfoelger.value.show}}      
    </div>

<!-- /.producent -->            

</div>
</script>


<script id="detailTemplate" type="text/template">


	<section class="single-artwork-tabs">

  <div data-tabs-id="artwork-tabs" class="tabs">
    <a href="#description">Værktekst</a>
    <a href="#parts">Værkdele</a>
    <a class="active" href="#details" class="">Detaljer</a>
    <a href="#related">Relaterede værker</a>
  </div>

  <div id="description_tab"></div><!-- /.tab-content -->

  <div class="print-page-break"></div>

  <div data-tabs-id="artwork-tabs" id="parts" class="tab-content ">    
  </div><!-- /.tab-content -->

  <div class="print-page-break"></div>

  <div id="details_tab"></div><!-- /.tab-content -->  

  <div data-tabs-id="artwork-tabs" id="related" class="tab-content"></div><!-- /.tab-content -->

</section>	

</script>

</div>