<div>

<script id="detailTemplate" type="text/template">

{{#detail}}
<article class="artwork">
  <div class="artwork-inner">
    
    {{#media}}
    
    <div class="artwork-gallery">
      <div class="inline-gallery">
        <div class="inline-galler-inner">
          <div class="inline-gallery-main">
            <div class="inline-gallery-main-image gallery__main {{#no_image}}matrix-tile-image-missing{{/no_image}}" {{#image}}src="{{image}}"{{/image}} title="{{title}}" img_id="{{img_id}}"><i></i></div>			
            
			{{#no_image}}
			<div target="_blank" class="inline-gallery-copyright-show-hide">								
				{{{no_image_text}}}																			
			</div>
			{{/no_image}}

			{{#image}}
			<a target="_blank" class="inline-gallery-copyright-show-hide {{#copyright.img_cc0}}cc0active{{/copyright.img_cc0}}" {{#copyright.img_cc0}} onclick="window.open('{{{copyright.link}}}')"{{/copyright.img_cc0}}>
				{{#copyright.show}}
					<i></i>
					{{{copyright.text}}}
				{{/copyright.show}}		

				{{#copyright.img_cc0}}
					<i class = "cc0"></i>
					{{{media.copyright_text_cc0}}}
				{{/copyright.img_cc0}}									
			</a>
			
			
			{{#image_full_path}}
			<a class="inline-gallery-view-full fancybox" href="{{{image_full_path}}}">
				{{{fullsizeText}}}
			<i></i>
			</a>
			{{/image_full_path}}
			{{/image}}


			</div> 
         </div>
       </div>
     </div>
     
    {{/media}}
    	
    {{#info}}
    	<div id="info-container" class="artwork-content">    	    	 
    	
    	  <!-- Heading -->

	{{#artist.show}}	
		<ul class="artwork-artists">
		{{#artist}}	    				
    	  <li>{{{name}}}&nbsp;<i>{{{info}}}</i></li>	
		{{/artist}}			
		</ul> 
	{{/artist.show}}
		
      	{{#title_museum}}	
		<h1 class="artwork-title">{{{title_museum}}}</h1>
		{{/title_museum}}

		{{#title_serie}}	
		<h2 class="artwork-series-title">{{{title_serie}}}</h2>
		{{/title_serie}}

		<div class="artwork-data">
		
		{{#datering.value}}
          <div class="data-section data-section-compact">
            <h3>{{datering.key}}</h3>
            <div class="data">{{{datering.value}}}</div>
          </div><!-- /.data-section -->
		{{/datering.value}}

		{{#dim.dim}}
          <div class="data-section data-section-compact">
            <h3>{{dim.key}}</h3>
            <div class="data">{{dim.dim}}</div>
          </div><!-- /.data-section -->
		{{/dim.dim}}
		
 		{{#technique}}
          <div class="data-section data-section-compact">
            <h3>{{key}}</h3>
			{{#technique.value}}
            <div class="data">{{{value}}}</div>
			{{/technique.value}}
          </div><!-- /.data-section -->
 		{{/technique}}    	  
    	
    	  <!-- Data pairs (acquisition) -->
    	  {{#acq.value}}
			<div class="data-section data-section-compact">
            	<h3>{{acq.key}}</h3>
            	<div class="data">{{{acq.value}}}</div>
          	</div><!-- /.data-section -->    	 
    	  {{/acq.value}}        	
    
		  <!-- Data pairs (ref number) -->
    	  {{#ident_invnummer.value}}
			<div class="data-section data-section-compact">
            	<h3>{{ident_invnummer.key}}</h3>
            	<div class="data">{{{ident_invnummer.value}}}</div>
          	</div><!-- /.data-section -->    	 
    	  {{/ident_invnummer.value}}        	
    
		<!-- location) -->
		{{#location}}
		<br>			
		<ul class="artwork-artists">    				
    	  <li><i>{{{location}}}</i></li>		
		</ul>     	
		{{/location}}

    	</div><!-- #info-container -->
    {{/info}}	
    {{/detail}}
  
  </div>
</article>

</script>

</div>