<div>

<script id="detailTemplate" type="text/template">

{{#detail}}
<article class="artwork">
  <div class="artwork-inner">
    
    {{#media}}
    
    <div class="artwork-gallery">
      <div class="inline-gallery">
        <div class="inline-galler-inner">
          <div class="inline-gallery-main">
            <div class="inline-gallery-main-image gallery__main image_loading" src="{{image}}" title="{{title}}" alt="{{{alt}}}" img_id="{{img_id}}"></div>
            </div> 
         </div>
       </div>
     </div>
     
    {{/media}}
    	
    {{#info}}
    	<div id="info-container" class="artwork-content">    	    	 
    	
    	  <!-- Heading -->

	{{#artist.show}}	
		<ul class="artwork-artists">
		{{#artist}}	    				
    	  <li>{{{name}}}&nbsp;<i>{{{info}}}</i></li>	
		{{/artist}}			
		</ul> 
	{{/artist.show}}
		
      	{{#title_museum}}	
		<h1 class="artwork-title">{{{title_museum}}}</h1>
		{{/title_museum}}

		{{#title_serie}}	
		<h2 class="artwork-series-title">{{{title_serie}}}</h2>
		{{/title_serie}}

		<div class="artwork-data">
		
		{{#datering.value}}
          <div class="data-section data-section-compact">
            <h3>{{datering.key}}</h3>
            <div class="data">{{{datering.value}}}</div>
          </div><!-- /.data-section -->
		{{/datering.value}}

		{{#dim.dim}}
          <div class="data-section data-section-compact">
            <h3>{{dim.key}}</h3>
            <div class="data">{{dim.dim}}</div>
          </div><!-- /.data-section -->
		{{/dim.dim}}
		
 		{{#technique}}
          <div class="data-section data-section-compact">
            <h3>{{key}}</h3>
            <div class="data">{{value}}</div>
          </div><!-- /.data-section -->
 		{{/technique}}    	  
    	
    	  <!-- Data pairs (acquisition) -->
    	  {{#acq.value}}
			<div class="data-section data-section-compact">
            	<h3>{{acq.key}}</h3>
            	<div class="data">{{{acq.value}}}</div>
          	</div><!-- /.data-section -->    	 
    	  {{/acq.value}}        	
    
		  <!-- Data pairs (ref number) -->
    	  {{#ident_invnummer.value}}
			<div class="data-section data-section-compact">
            	<h3>{{ident_invnummer.key}}</h3>
            	<div class="data">{{{ident_invnummer.value}}}</div>
          	</div><!-- /.data-section -->    	 
    	  {{/ident_invnummer.value}}        	
    
		<!-- location) -->
		{{#location}}
		<br>			
		<ul class="artwork-artists">    				
    	  <li><i>{{{location}}}</i></li>		
		</ul>     	
		{{/location}}

    	</div><!-- #info-container -->
    {{/info}}	
    {{/detail}}
  
  </div>
</article>

</script>

</div>