<div>

<script id="detailDescriptionTemplate" type="text/template">	
{{#info.references_texts}}
	<div data-tabs-id="artwork-tabs" id="description" class="tab-content">
    	<div class="copy">{{{info.references_texts}}}</div>
  	</div>
{{/info.references_texts}}
</script>

<script id="detailDetailTemplate" type="text/template">	
<div data-tabs-id="artwork-tabs" id="details" class="tab-content tab-content--open">
	
<!-- identification -->

	<div class="data-section">
      <h3>{{{ident_lab}}}</h3>

      {{#ident_vaerktype.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{ident_vaerktype.key}}}</h4>
        <div class="data-pair-value">{{{ident_vaerktype.value}}}
        </div><!-- /.data-pair-value -->
      </div><!-- /.data-pair -->
      {{/ident_vaerktype.value}}

	{{#ident_dele.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{ident_dele.key}}}</h4>
        <div class="data-pair-value">{{{ident_dele.value}}}
        </div><!-- /.data-pair-value -->
      </div><!-- /.data-pair -->
      {{/ident_dele.value}}
      
	{{#ident_invnummer.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{ident_invnummer.key}}}</h4>
        <div class="data-pair-value">{{{ident_invnummer.value}}}
        </div><!-- /.data-pair-value -->
      </div><!-- /.data-pair -->
      {{/ident_invnummer.value}}
      
	{{#ident_samling.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{ident_samling.key}}}</h4>
        <div class="data-pair-value">{{{ident_samling.value}}}
        </div><!-- /.data-pair-value -->
      </div><!-- /.data-pair -->
      {{/ident_samling.value}}
      
	{{#ident_andet_inv.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{ident_andet_inv.key}}}</h4>
        <div class="data-pair-value">{{{ident_andet_inv.value}}}
        </div><!-- /.data-pair-value -->
      </div><!-- /.data-pair -->
      {{/ident_andet_inv.value}}      
    
</div>
<!-- /.identification -->


<!-- producent -->

	<div class="data-section">
      <h3>{{{producent_lab}}}</h3>

      {{#producent_kunster.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_kunster.key}}}</h4>
		{{#producent_kunster.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/producent_kunster.value}}
      </div><!-- /.data-pair -->
      {{/producent_kunster.show}}

	{{#producent_tilskrevet.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_tilskrevet.key}}}</h4>
        {{#producent_tilskrevet.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/producent_tilskrevet.value}}
      </div><!-- /.data-pair -->
      {{/producent_tilskrevet.show}}
      
	{{#producent_tidltilskrvet.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_tidltilskrvet.key}}}</h4>
        {{#producent_tidltilskrvet.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/producent_tidltilskrvet.value}}
      </div><!-- /.data-pair -->
      {{/producent_tidltilskrvet.show}}
      
	{{#producent_vaerksted.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_vaerksted.key}}}</h4>
        {{#producent_vaerksted.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/producent_vaerksted.value}}
      </div><!-- /.data-pair -->
      {{/producent_vaerksted.show}}
      
	{{#producent_efterfoelger.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_efterfoelger.key}}}</h4>
        {{#producent_efterfoelger.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/producent_efterfoelger.value}}
      </div><!-- /.data-pair -->
      {{/producent_efterfoelger.show}}      
    
 
	{{#producent_inventor.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_inventor.key}}}</h4>
        {{#producent_inventor.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/producent_inventor.value}}
      </div><!-- /.data-pair -->
      {{/producent_inventor.show}}      
    
    
    {{#producent_skole.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_skole.key}}}</h4>
        {{#producent_skole.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/producent_skole.value}}
      </div><!-- /.data-pair -->
      {{/producent_skole.show}}      
    
    
    {{#producent_stil.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_stil.key}}}</h4>
        {{#producent_stil.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/producent_stil.value}}
      </div><!-- /.data-pair -->
      {{/producent_stil.show}}      
    
    
    {{#producent_kopi.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_kopi.key}}}</h4>
        {{#producent_kopi.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/producent_kopi.value}}
      </div><!-- /.data-pair -->
      {{/producent_kopi.show}}      
    
   
   {{#producent_forlaeg.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_forlaeg.key}}}</h4>
        {{#producent_forlaeg.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/producent_forlaeg.value}}
      </div><!-- /.data-pair -->
      {{/producent_forlaeg.show}} 
      
      {{#producent_udgiver.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_udgiver.key}}}</h4>
        {{#producent_udgiver.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/producent_udgiver.value}}
      </div><!-- /.data-pair -->
      {{/producent_udgiver.show}} 
      
      {{#producent_trykker.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_trykker.key}}}</h4>
        {{#producent_trykker.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/producent_trykker.value}}
      </div><!-- /.data-pair -->
      {{/producent_trykker.show}} 
      
      {{#producent_forfatter.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_forfatter.key}}}</h4>
        {{#producent_forfatter.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i>		
        	</div><!-- /.data-pair-value -->
		{{/producent_forfatter.value}}
      </div><!-- /.data-pair -->
      {{/producent_forfatter.show}}  
 
      
      {{#producent_formeri.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_formeri.key}}}</h4>
        {{#producent_formeri.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/producent_formeri.value}}
      </div><!-- /.data-pair -->
      {{/producent_formeri.show}}
      
      
         
    {{#producent_objectophavsbeskrivelse.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{producent_objectophavsbeskrivelse.key}}}</h4>
        {{#producent_objectophavsbeskrivelse.value}}        
			<div class="data-pair-value">{{{name}}}&nbsp;<i>{{{info}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/producent_objectophavsbeskrivelse.value}}
      </div><!-- /.data-pair -->
      {{/producent_objectophavsbeskrivelse.show}}

</div>
<!-- /.producent -->            

<!-- title -->

	<div class="data-section">
      <h3>{{{title_lab}}}</h3>

      {{#title_museum.value}}
      <div class="data-pair">
		<h4 class="data-pair-key">{{{title_museum.key}}}</h4>
		{{#title_museum.value}}         
			<div class="data-pair-value">{{{title}}}</div><!-- /.data-pair-value -->
			
			{{#note}}
				<h4 class="data-pair-key indent">{{{title_museum.key_note}}}</h4>		         
				<div class="data-pair-value">{{{note}}}</div><!-- /.data-pair-value -->
			{{/note}}

			{{#trans}}
				<h4 class="data-pair-key indent">{{{title_museum.key_trans}}}</h4>		     
				<div class="data-pair-value">{{{trans}}}</div><!-- /.data-pair-value -->
			{{/trans}}

			{{#trans_note}}
				<h4 class="data-pair-key indent">{{{title_museum.key_trans_note}}}</h4>		  
				<div class="data-pair-value">{{{trans_note}}}</div><!-- /.data-pair-value -->
			{{/trans_note}}

		{{/title_museum.value}}
		
      </div><!-- /.data-pair -->
      {{/title_museum.value}}


	{{#title_beskrivelse.value}}
      <div class="data-pair">
		<h4 class="data-pair-key">{{{title_beskrivelse.key}}}</h4>
		{{#title_beskrivelse.value}}         
			<div class="data-pair-value">{{{title}}}</div><!-- /.data-pair-value -->
			
			{{#note}}
				<h4 class="data-pair-key indent">{{{title_beskrivelse.key_note}}}</h4>		         
				<div class="data-pair-value">{{{note}}}</div><!-- /.data-pair-value -->
			{{/note}}

			{{#trans}}
				<h4 class="data-pair-key indent">{{{title_beskrivelse.key_trans}}}</h4>		     
				<div class="data-pair-value">{{{trans}}}</div><!-- /.data-pair-value -->
			{{/trans}}

			{{#trans_note}}
				<h4 class="data-pair-key indent">{{{title_beskrivelse.key_trans_note}}}</h4>		  
				<div class="data-pair-value">{{{trans_note}}}</div><!-- /.data-pair-value -->
			{{/trans_note}}

		{{/title_beskrivelse.value}}
		
      </div><!-- /.data-pair -->
      {{/title_beskrivelse.value}}


	{{#title_serie.value}}
      <div class="data-pair">
		<h4 class="data-pair-key">{{{title_serie.key}}}</h4>
		{{#title_serie.value}}         
			<div class="data-pair-value">{{{title}}}</div><!-- /.data-pair-value -->
			
			{{#note}}
				<h4 class="data-pair-key indent">{{{title_serie.key_note}}}</h4>		         
				<div class="data-pair-value">{{{note}}}</div><!-- /.data-pair-value -->
			{{/note}}

			{{#trans}}
				<h4 class="data-pair-key indent">{{{title_serie.key_trans}}}</h4>		     
				<div class="data-pair-value">{{{trans}}}</div><!-- /.data-pair-value -->
			{{/trans}}

			{{#trans_note}}
				<h4 class="data-pair-key indent">{{{title_serie.key_trans_note}}}</h4>		  
				<div class="data-pair-value">{{{trans_note}}}</div><!-- /.data-pair-value -->
			{{/trans_note}}

		{{/title_serie.value}}
		
      </div><!-- /.data-pair -->
      {{/title_serie.value}}						
 
</div>
<!-- /.title -->

<!-- datering -->
<div class="data-section">
  <h3>{{{datering_lab}}}</h3>  
  
  {{#datering_production_vaerkdatering.value}}
  <div class="data-pair">
    <h4 class="data-pair-key">{{{datering_production_vaerkdatering.key}}}</h4>
    {{#datering_production_vaerkdatering.value}}        
    <div class="data-pair-value">{{{datering_production_vaerkdatering.value}}}	
    </div><!-- /.data-pair-value -->
  {{/datering_production_vaerkdatering.value}}
  </div><!-- /.data-pair -->
  {{/datering_production_vaerkdatering.value}}
  
 {{#datering_production_udgivet_place.value}}
  <div class="data-pair">
    <h4 class="data-pair-key">{{{datering_production_udgivet_place.key}}}</h4>
    {{#datering_production_udgivet_place.value}}        
    <div class="data-pair-value">{{{datering_production_udgivet_place.value}}}
    </div><!-- /.data-pair-value -->
  {{/datering_production_udgivet_place.value}}
  </div><!-- /.data-pair -->
  {{/datering_production_udgivet_place.value}}
					
  {{#datering_production_udfoert_place.value}}
  <div class="data-pair">
    <h4 class="data-pair-key">{{{datering_production_udfoert_place.key}}}</h4>
    {{#datering_production_udfoert_place.value}}        
    <div class="data-pair-value">{{{datering_production_udfoert_place.value}}}
    </div><!-- /.data-pair-value -->
  {{/datering_production_udfoert_place.value}}
  </div><!-- /.data-pair -->
  {{/datering_production_udfoert_place.value}}
  
  {{#datering_production_note.value}}
  <div class="data-pair">
    <h4 class="data-pair-key">{{{datering_production_note.key}}}</h4>
    {{#datering_production_note.value}}        
    <div class="data-pair-value">{{{datering_production_note.value}}}	
    </div><!-- /.data-pair-value -->
  {{/datering_production_note.value}}
  </div><!-- /.data-pair -->
  {{/datering_production_note.value}} 

</div>
<!-- /.datering -->


<!-- technique -->
<div class="data-section">
  <h3>{{{technique_lab}}}</h3>  
  
  {{#technique_technique.show}}
  <div class="data-pair">
    <h4 class="data-pair-key">{{{technique_technique.key}}}</h4>
    {{#technique_technique.value}}        
    <div class="data-pair-value">{{{technique_technique.value}}}	
    </div><!-- /.data-pair-value -->
  {{/technique_technique.value}}
  </div><!-- /.data-pair -->
  {{/technique_technique.show}}

{{#technique_dimensions.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{technique_dimensions.key}}}</h4>
        {{#technique_dimensions.value}}        
			<div class="data-pair-value">{{{dim}}}&nbsp;<i>({{{type}}})</i>	
        	</div><!-- /.data-pair-value -->
		{{/technique_dimensions.value}}
      </div><!-- /.data-pair -->
 {{/technique_dimensions.show}} 

{{#technique_diameter.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{technique_diameter.key}}}</h4>
        {{#technique_diameter.value}}        
			<div class="data-pair-value">{{{technique_diameter.value}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/technique_diameter.value}}
      </div><!-- /.data-pair -->
 {{/technique_diameter.value}} 

{{#technique_vaegt.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{technique_vaegt.key}}}</h4>
        {{#technique_vaegt.value}}        
			<div class="data-pair-value">{{{technique_vaegt.value}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/technique_vaegt.value}}
      </div><!-- /.data-pair -->
 {{/technique_vaegt.value}} 

{{#technique_materiale.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{technique_materiale.key}}}</h4>
        {{#technique_materiale.value}}        
			<div class="data-pair-value">{{{value}}}&nbsp;<i>({{{type}}})</i>		
        	</div><!-- /.data-pair-value -->
		{{/technique_materiale.value}}
      </div><!-- /.data-pair -->
 {{/technique_materiale.show}} 

{{#technique_format.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{technique_format.key}}}</h4>
        {{#technique_format.value}}        
			<div class="data-pair-value">{{{technique_format.value}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/technique_format.value}}
      </div><!-- /.data-pair -->
 {{/technique_format.value}} 

{{#technique_watermark.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{technique_watermark.key}}}</h4>
        {{#technique_watermark.value}}        
			<div class="data-pair-value">{{{technique_watermark.value}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/technique_watermark.value}}
      </div><!-- /.data-pair -->
 {{/technique_watermark.value}} 

{{#technique_tilstand.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{technique_tilstand.key}}}</h4>
        {{#technique_tilstand.value}}        
			<div class="data-pair-value">{{{technique_tilstand.value}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/technique_tilstand.value}}
      </div><!-- /.data-pair -->
 {{/technique_tilstand.value}} 

{{#technique_vaerkstatus.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{technique_vaerkstatus.key}}}</h4>
        {{#technique_vaerkstatus.value}}        
			<div class="data-pair-value">{{{value}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/technique_vaerkstatus.value}}
      </div><!-- /.data-pair -->
 {{/technique_vaerkstatus.show}} 

{{#technique_eksemplar.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{technique_eksemplar.key}}}</h4>
        {{#technique_eksemplar.value}}        
			<div class="data-pair-value">{{{technique_eksemplar.value}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/technique_eksemplar.value}}
      </div><!-- /.data-pair -->
 {{/technique_eksemplar.value}} 

{{#technique_bladnummer.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{technique_bladnummer.key}}}</h4>
        {{#technique_bladnummer.value}}        
			<div class="data-pair-value">{{{technique_bladnummer.value}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/technique_bladnummer.value}}
      </div><!-- /.data-pair -->
 {{/technique_bladnummer.value}} 

{{#technique_sidetal.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{technique_sidetal.key}}}</h4>
        {{#technique_sidetal.value}}        
			<div class="data-pair-value">{{{technique_sidetal.value}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/technique_sidetal.value}}
      </div><!-- /.data-pair -->
 {{/technique_sidetal.value}} 

{{#technique_omslag.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{technique_omslag.key}}}</h4>
        {{#technique_omslag.value}}        
			<div class="data-pair-value">{{{technique_omslag.value}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/technique_omslag.value}}
      </div><!-- /.data-pair -->
 {{/technique_omslag.value}} 

{{#technique_stadium.value}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{technique_stadium.key}}}</h4>
        {{#technique_stadium.value}}        
			<div class="data-pair-value">{{{technique_stadium.value}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/technique_stadium.value}}
      </div><!-- /.data-pair -->
 {{/technique_stadium.value}} 

{{#technique_kollation.show}}
      <div class="data-pair">
        <h4 class="data-pair-key">{{{technique_kollation.key}}}</h4>
        {{#technique_kollation.value}}        
			<div class="data-pair-value">{{{value}}}</i>	
        	</div><!-- /.data-pair-value -->
		{{/technique_kollation.value}}
      </div><!-- /.data-pair -->
 {{/technique_kollation.show}} 
 
</div>
<!-- /.technique -->
</script>


<script id="detailTemplate" type="text/template">


	<section class="single-artwork-tabs">

  <div data-tabs-id="artwork-tabs" class="tabs">
    <a href="#description">Værktekst</a>
    <a href="#parts">Værkdele</a>
    <a class="active" href="#details" class="">Detaljer</a>
    <a href="#related">Relaterede værker</a>
  </div>

  <div id="description_tab"></div><!-- /.tab-content -->

  <div class="print-page-break"></div>

  <div data-tabs-id="artwork-tabs" id="parts" class="tab-content ">    
  </div><!-- /.tab-content -->

  <div class="print-page-break"></div>

  <div id="details_tab"></div><!-- /.tab-content -->  

  <div data-tabs-id="artwork-tabs" id="related" class="tab-content"></div><!-- /.tab-content -->

</section>	

</script>

</div>