<div>
	<script id="generalTemplate" type="text/template">
	<div id="smk_search_version"></div>
		<div class="view">
		
			<div class="container">

			
			<section class="section--list" role="list">
			<header class="main-header">
			  <div class="back-to-site">
			    <a href="http://smk.dk"><i></i> Back to smk.dk</a>
			  </div>
			
			  <h1 class="branding">
			    <a href="/">Statens Museum for Kunst</a>
			    <i>Search the collection</i>
			  </h1>						  
			  
				<div id="searchbox"></div>
				
			</header>

			<div class="search-type-selector">
			  	<div id="category"></div>
				<div id="searchinfo"></div>
				<div class="extra-controls">
				  <a onclick="window.print();" href="#" class="print"><i></i> Print this page</a>
				</div>
			</div>

			<div id="currentsearch"></div>	

			<div id="smk_teasers"></div>			
				

			
			<div id="searchboxauto"></div>		
				
			
			<div class="search-actions">
				<div id="pager"></div>
				<div id="pager-header"></div>  
				<div id="sorter"></div>
				<div id="viewpicker"></div>
			</div>  
			
			<div id="search-filters">
				<h2 class="heading--widgets"></h2>
				<div id="artist_name_ss" class="search-filter"></div>								
				<div id="artist_natio" class="search-filter"></div>
				<div id="object_type" class="search-filter"></div>	
				<div id="object_production_century_earliest" class="search-filter"></div>					
			</div>		  					      
			</section>
			
			<section class="section--detail" role="detail">
				<div id="smk_detail"></div>
				<div id="related-artworks"></div>					 											  		   		   							
			</section>
		   
				
			</div>
			<div class="modal"></div>
		</div>
	
	</script>			

</div>