<div>

	<script id="generalTemplate" type="text/template">

<div class="col-sm-6 films">
     <input class="typeahead form-control" name="films" type="text" autocomplete="off" value=""/>   

    </div>

		<div class="container">
			<div id="smk_search_version"/>
			<header class="main-header">
				<div class="main-header-topshelf">
					<div class="back-to-site">
						<a href="#"><i></i> SMK.dk</a>
					</div>
	
					<div id="lang-picker" />
				</div>
	
				<h1 class="branding">
					<a href="#">Statens Museum for Kunst</a> 
						<i>Search the collection</i>
						<img class="print-logo" src="images/smk-logo-print.svg">
				</h1>
				<section class="section--detail" role="detail">
					<div class="print">
						<a onclick="window.print();" href="#"><i></i> Print</a>
					</div>
				<section>
	
			</header>
				
			<div id="searchboxauto"></div>
	
			<section class="section--list" role="list">
	
				<div id="advanced" />
	
				<div class="search-actions">
	
					<div class="search-utilities">
	
						<div id="searchinfo"></div>
	
						<div id="sorter"></div>

						<div id="checkbox"></div>						
	
					</div>
	
				</div>
	
				<div id="smk_teasers" class="search-results search-results-full-width"></div>
				<div id="pager-viser"></div>
	
				<a href="#0" class="cd-top">Top</a>				
	
			</section>
	
			<section class="section--detail" role="detail">
				<div id="smk_detail"></div>
				<div id="smk_detail_tabs"></div>
			</section>
	
		</div>

	</script>

</div>