<div>	
	 <script id="searchboxTemplate" type="text/template">
 <div class="search-bar">
	<form id="" method="get" action="" role="search" class="">
      <label for="search" class="search-bar-label">Search for</label>
      <input class="search-bar-field" id="search-bar" type="text" dir="auto" spellcheck="false" autocomplete="off" placeholder="{{{default_text}}}"  name="" value="" >
      <input type="submit" value="{{{search}}}" class="search-bar-button">
    </form>
    <div id="currentsearch"/>
</div>

 	</script>
</div>