<div>
	<script id="teaserInitTemplate" type="text/template">	
		<div id="teaser-container-grid" class="full-width">	
        	<article class="teaser--grid"></article>			
		</div>
	 </script>

	<script id="teaserArticleTemplate" type="text/template">	
		{{#artworks}}
        <article class="teaser--grid">
          <div class="teaser__wrapper">            
			{{#media}}			
			<div class="teaser__thumbnail image_loading" src="{{image}}" alt="{{#copyright}}{{{copyright}}}{{/copyright}}" img_id="{{img_id}}">              	 
				<a href="#" alt="{{alt}}" class="article_artwork"></a>								 
            </div>			
            {{/media}}
            
			<div class="teaser__content">  
              {{#info}}
              <h3 class="teaser__heading">               					 
					<a href="#" class="article_artwork">{{#producent_kunster}}{{{artist_data.name}}}<br>{{/producent_kunster}}{{#title_pad}}<br>{{/title_pad}}{{#title_museum}}{{title}}{{/title_museum}}<br><span>{{{datering_production_vaerkdatering}}}</span></a> 				
              </h3>		
			  {{/info}}	 

			  <!-- inventar number -->
  			  	{{#info.ident_invnummer}}              
				<ul class="teaser__meta">                                				  				  	
					<li>{{{info.ident_invnummer}}}</li>				  					                  
              	</ul>
				{{/info.ident_invnummer}}

				<!-- location -->
  			  	{{#info.location_location}}              
				<ul class="teaser__meta">                                				  				  	
						<li>{{{info.location_location}}}</li>				  					                  
              	</ul>
				{{/info.location_location}}			 								 

            </div><!-- teaser__content -->
          </div><!-- teaser__wrapper -->
        </article><!-- teaser -->      
      {{/artworks}}	 
	</script>
</div>