<div>
	<script id="teaserInitTemplate" type="text/template">	
		<div class="search-results" class="full-width">				
		
<div class="matrix">         	
				<div class="matrix-tile"></div>			
			</div>
			<div class="scroll-spinning" ></div>			
		</div>
	 </script>

	<script id="teaserArticleTemplate" type="text/template">	
	
		{{#artworks}}	
	
		<div class="matrix-tile">
	
			<div class="matrix-tile-inner">
	
				<!-- invisible link - make the whole div container clickable -->
				<a class="divLink" href="{{url}}">&nbsp;</a>
	
				{{#media}}
				<div class="matrix-tile-image image_loading" src="{{image}}"
					alt="{{#copyright}}{{{copyright}}}{{/copyright}}"
					img_id="{{img_id}}"></div>
				{{/media}}
	
				<div class="matrix-tile-header">
					{{#info}} {{#producent_kunster}}
					<h3>
						{{{artist_data.name}}}&nbsp;<span>{{{artist_data.role}}}</span>{{#artist_data.etc}}<br>{{{artist_data.etc}}}{{/artist_data.etc}}
					</h3>
					{{/producent_kunster}} {{#title_museum}}
					<h2>
						<a href="{{url}}" class="article_artwork">{{title}}<span
							class="matrix-tile-date">{{{datering_production_vaerkdatering}}}</span></a>
					</h2>
					{{/title_museum}} {{/info}}
	
					<!-- inventar number -->
					{{#info.ident_invnummer}}
					<ul class="matrix-tile-meta">
						<li class="matrix-tile-meta-id"><span>{{{info.label_ref}}}:&nbsp;</span>{{{info.ident_invnummer}}}</li>
					</ul>
					{{/info.ident_invnummer}}
	
					<!-- location -->
					{{#info.location_location}}
					<ul class="matrix-tile-meta-location">
						<li>{{{info.location_location}}}</li>
					</ul>
					{{/info.location_location}}
	
					<!-- debug -->
					{{#debug.score}}
					<ul class="matrix-tile-meta-location">
						<li>{{{debug.score}}}</li>
					</ul>
					{{/debug.score}}
	
				</div>
				<!-- teaser__content -->
	
			</div>
			<!-- matrix-tile-inner -->
			
	
		</div>
		<!-- matrix-tile -->



	{{/artworks}}
	</script>
</div>